* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4B6382, #A4B5C4);
    transition: background 0.5s ease-in-out; 
}

.form-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    width: 600px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out; /
}

.form-container:hover {
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2); 
}


h2 {
    text-align: center;
    color: #A4B5C4;
    margin-bottom: 20px;
    font-family: 'Georgia', serif; /* Fonte mais formal */
    font-weight: bold; /* Título em negrito */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    color: #A4B5C4;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input[type="text"], input[type="tel"], input[type="date"], input[type="number"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease; 
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="email"]:focus {
    background: rgba(255, 255, 255, 0.5); 
    transform: scale(1.02); 
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.moeda-symbol {
    background: #4B6382;
    color: white;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    font-size: 1rem;
    font-weight: bold;
}

.moeda-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0 10px 10px 0;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    grid-column: span 2;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #4B6382;
    color: white;
    font-size: 1rem;
    font-weight: bold; 
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease; 
}

input[type="submit"]:hover {
    background: #A4B5C4;
    color: #4B6382;
    transform: scale(1.05); 
}
